#privacy-container {
  max-height: 50vh;
  overflow-x: auto;
  padding-right: 10px;
}

#modal-dialog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#rodo-comp-btn {
  color: #fff;
  background-color: #3eafad;
  transition: 0.2s;
}

#rodo-comp-btn:hover,
#rodo-comp-btn:focus,
#rodo-comp-btn:active {
  color: #ddd;
  background-color: #329390;
}

.close-sign {
  font-size: 1.5rem;
  color: #fff;
}

.close-sign :hover {
  color: #ddd;
}


