
#card-wrapper  {
  transition: 0.5s;
}

#card-wrapper:hover {
  transform: scale(1.02) skew(-5deg);
}


@media screen {
  #card-wrapper:hover {
    transform: scale(1.02);
  }
}

div:nth-child(even)> #card-wrapper > .styled-card {
  color: #ffffff;
  background-color: rgba(62, 175, 173);
}

#card-header {
  position: relative;
}

#card-header > .card-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 767px) {
  #card-header {
    margin-bottom: 10vh;
    padding: 20vh 0;
  }
}
