
 section > div.row.my-4 > article.card {
  background-color: rgba(60, 65, 68);
  opacity: 0.8;
  transition: 0.8s;
}

article.card :hover {
  opacity: 1;
}

 div.row.my-4 > article.card :nth-child(even) {
  color: #ffffff;
  background-color: rgba(62, 175, 173);
}


@media screen and (min-width: 1025px) {
  article.card > div + div:hover {
    transform: scale(1.02) skew(-5deg);
  }
}


div#card-header {
  position: relative;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media  (max-width: 767px) {
  div#card-header{
    margin-bottom: 10vh;
    padding: 20vh 0;
  }
}

#card-wrapper {
  transition: 0.5s;
}

#card-wrapper:hover {
  transform: scale(1.02);
}

