
.navbar-brand > a {
  transform: none;
}

#custom-navlink {
  transition: 0.3s;
}

a:link.active > span#custom-navlink {
  background-color: #3eafad;
  text-decoration: none;
  transform: skew(-12deg);
}

@media screen and (max-width: 992px) {
  #custom-navlink:link.active > span {
    transform: none;
  }
}

