.navLink h1 > span {
  font-size: 2.4rem;
}

.navLink:focus,
.navLink:hover,
.navLink:visited,
.navLink:link {
  text-decoration: none;
}

.navLink span {
  transition: 0.3s;
}

.navLink:link.activated span {
  color: #fff;
  background-color: #3eafad;
  transform: skew(-12deg);
}

.navLink:link.activated span:hover {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .navLink:link.activated span {
    transform: none;
  }
}
