.rodo-content-container {
  text-align: left;
}


span, ol {
  font-size: 1.2rem;
}

.rodo-link {
  font-weight: 700;
  color: #3eafad;
 }

.rodo-link:hover,
.rodo-link:active,
.rodo-link:visited {
    color: rgb(50, 147, 144);
}
