.aboutPage {
  color: #fff;
}

.aboutPageImage {
  width: 100%;
}

.aboutPageFontAwesome {
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .aboutPageFontAwesome {
    font-size: 2.5rem;
  }
}
