.styled-card > .card-text {
  background-color: transparent;
}

#card-wrapper > .styled-card {
   background-color: rgba(60, 65, 68);
  opacity: 0.8;
  transition: all 0.8s;
  cursor: pointer;
}

#card-wrapper > .styled-card:hover {
  opacity: 1;
}



