article.styled-card {
  background-color: rgba(60, 65, 68);
  opacity: 0.8;
  transition: 0.8s;
}

article.styled-card {
  cursor: pointer;
}

article.styled-card > p {
  background-color: transparent;
}

