.modal-dialog {
  display: table;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  pointer-events: none;
  height: fit-content;
}

.modal-dialog > div {
  width: inherit;
  max-width: inherit;
  margin: 0 auto;
  color: #fff;
  background-color: #32373a;
  pointer-events: all;
}

#styled-modal-dialog {
  display: flex;
}

#rodo-comp-btn {
  color: #fff;
  background-color: #3eafad;
  transition: 0.2s;
}

#rodo-comp-btn:hover,
#rodo-comp-btn:focus,
#rodo-comp-btn:active {
  color: #ddd;
  background-color: #329390;
}

