#styled-navbar {
  background-color: transparent;
  overflow: hidden;
}

#styled-navbar h1 {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 900;
  font-family: Tenby-five;
}

#styled-navbar span {
    font-size: 1.7rem;
    font-family: Tenby-five;
  }

#navbar-btn {
  border: none;
  outline: none;
}

#item-navlink > a {
  text-decoration: none;
}

.navbar-brand > #dot {
  color: #3eafad;
  font-size: 3rem;
}

.main-container #website-title {
  font-size: 3rem;
}
