.customNavbar {
  background-color: transparent;
  overflow: hidden;
}

h1.websiteTitle  {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 900;
  font-family: Tenby-five;
}

.customNavbar span {
    font-size: 1.7rem;
    font-family: Tenby-five;
}

.customNavbar .navbarButton {
  border: none;
  outline: none;
}

.websiteTitle .dot {
  color: #3eafad;
  font-size: 2.4rem;
}


