@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap&subset=latin-ext');

.modelsContainer {
  color: #fff;
  background-color: #32373a;
  font-family: 'Saira Condensed', sans-serif;
  overflow-x: hidden;
}

.modelsContainer h1 {
  font-size: 3rem;
}

.modelsContainer h2 {
  font-size: 2.2rem;
}

.modelsContainer p {
  font-size: 1.2rem;
  text-align: justify;
}
