.teamMemberFontAwesome {
  font-size: 2rem;
  color: #fff;
  transition: 0.2s;
}

.teamMemberFontAwesome:hover {
  color: #ddd;
}

@media screen and (min-width: 1024px) {
  .teamMemberFontAwesome {
    font-size: 2.5rem;
  }
}
